* {
    box-sizing: border-box;
}

body{
    background: #FFF7E9;
    margin: 0;
}

.signup-page-logo{
    align-self: flex-start;
    padding: 6%;
}

.notfound-page-logo{
    width: 100%;
    padding-left: 1%;
    padding-top: 1%;
    float: left;
    margin-bottom: -10px;
}

.login-page-logo{
    align-self: flex-start;
    padding: 6%;
}

.signup-page-illustration{
    align-self: center;
    overflow: hidden;
}

.login-page-illustration{
    align-self: center;
    overflow: hidden;
}

.illustration-text{
    padding-top: 6%;
    color: #1746A2;
    font-size: x-large;
    font-weight: 300;
}

.notfoundpage-text{
    color: #1746A2;
    font-size: 22px;
    font-family: 'Open Sans' sans-serif;
    font-weight: 600;
    align-self: center;
    padding-bottom: 20px;
}

.bold-text{
    font-weight: 600;
}

.form{
    background-color: #1746A2;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
}

.form-body{
    text-align: left;
    align-self: center;
}

.navigate{
    margin: 0 10px 0 10px;
}

.nav{
    background-color: #FFF7E9;
    color: #1746A2;
    display: flex;
    justify-content: space-between;
    align-items: stretch ;
    margin: 0 auto;
    padding: 10px;
}

.nav a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem

}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.ls-search {
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    align-items: center;
    margin-top: 14px;
    overflow: visible;
}

.user-search {
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    align-items: center;
    margin-top: 14px;
    overflow: visible;
}

.form-body > *{
    padding: 10px;
}

.form__label{
    padding-left: 8px;
    font-weight: bold;
    width: 40%;
    text-align: left
}

.form__input{
    text-align: left;
    opacity: 90%;
    padding: 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    outline: none;
    background-color: #FFF7E9;
    width: 100%;
}

.form-note{
    text-align: left;
    padding: 10px;
    font-size: medium;
}

.signup-button{
    padding-top: 20px;
    padding-left: 40px;
    text-align: left;
}


.login-button{
    padding-left: 40px;
    text-align: left;
    display: flex;
}


.additional-Nav-Text {
    align-items: left;
    color: #f45004;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #f45004;
    padding-bottom: 5px;
  }

.mockup{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.pageLayout{
    height: 100vh;
    display: flex;
    color: #FFF7E9;
}

.homePageLayout{
    height: 100vh;
    display: flex;
    color: #FFF7E9;
    flex-direction: column;
}

.notFoundPageLayout{
    height: 100vh;
    display: grid;
    color: #FFF7E9;
}

.leftPart{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #FFF7E9;
}

.rightPart{
    width: 40%;
    border-radius: 20px 0 0 20px;
    background-color: #1746A2;
    overflow: auto;
}

.username{
    padding-left: 40px;
    padding-right: 40px;
}

.email{
    padding-left: 40px;
    padding-right: 40px;
}

.password{
    padding-left: 40px;
    padding-right: 40px;
}

.confirm-password{
    padding-left: 40px;
    padding-right: 40px;
}

.verificationCode{
    padding-left: 40px;
    padding-right: 40px;
}

.space-3{
    padding: 3px;
}

.space-5{
    padding: 5px;
}

.space-8{
    padding: 8px;
}

.space-12{
    padding: 12px;
}

.space-20{
    padding: 20px
}

.space-30{
    padding: 30px
}

.space-50{
    padding: 50px
}
.space-40{
    padding: 40px
}

.space-100{
    padding: 80px
}


.space-80{
    padding: 80px
}

.registerKVKK {
    color: #FF731D;
    border-bottom: 1px solid #FF731D;
    text-decoration: none;
    padding-bottom: 0.5px;
    margin-left: 5px;
}

.signup-checkbox-field{
    padding-left: 40px;
    padding-right: 40px;
    font-size: medium;
}

.signup-checkbox{
    cursor: pointer;
}

.signup-button{
    padding-left: 40px;
}

.btn-orange{
    align-items: center;
    background-color: #FF731D;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color:#1746A2;
    cursor: pointer;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.btn-white2{	
    align-items: center;	
    background-color: #ffffff;	
    border: 0;	
    border-radius: 100px;	
    box-sizing: border-box;	
    color:#1746A2;	
    cursor: pointer;	
    font-family: 'Open Sans' sans-serif;	
    font-size: 16px;	
    font-weight: 600;	
    line-height: 20px;	
    padding: 5px;	
    padding-left: 15px;	
    padding-right: 15px;	
    text-align: center;	
    touch-action: manipulation;	
    transition: background-color 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0s cubic-bezier(0.4, 0, 0.2, 1) 0s;	
}

.btn-comment-white{	
    align-items: center;	
    background-color: #ffffff;	
    border: 0;	
    border-radius: 100px;	
    box-sizing: border-box;	
    color:#1746A2;	
    cursor: pointer;	
    font-family: 'Open Sans' sans-serif;	
    font-size: 16px;	
    font-weight: 600;	
    line-height: 20px;
    width: 140px;
    padding: 5px;	
    padding-left: 15px;	
    padding-right: 15px;	
    text-align: center;	
    touch-action: manipulation;	
    transition: background-color 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0s cubic-bezier(0.4, 0, 0.2, 1) 0s;	
}

.btn-comment-lightBlue {
    align-items: center;
    background-color: #38a0f6;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color:#1746A2;
    cursor: pointer;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    width: 140px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.btn-lightBlue{
    align-items: center;
    background-color: #38a0f6;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color:#1746A2;
    cursor: pointer;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.btn-grey{
    align-items: center;
    background-color: #808080;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color:#1746A2;
    cursor: pointer;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.btn-white{
    padding-left: 40px;
    background-color: #ffffff;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color:#1746A2;
    cursor: pointer;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    left: 20 px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.btn-blue{
    margin: auto;
    padding-left: 40px;
    background-color: #1746A2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color:#FFF7E9;
    cursor: pointer;
    font-family: 'Open Sans' sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    align-self: center;
    width: 150px;
    left: 20 px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    touch-action: manipulation;
    transition: background-color 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

h1 {
    font-family: 'Open Sans' sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: dark;
    text-align: center;
}

.h-ls-custom {
    font-family: 'Open Sans' sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: dark;
    text-align: left;
}

.welcome-navigation{
    display: flex;
    justify-content: flex-start;
    margin-left: 7%;
    margin-top: 10%;
}

.welcome-navigation-item{
    background-color: #FFF7E9;
    color:#1746A2;
    padding-top: 6px;
    cursor: pointer;
    border: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 100px;
    width: 100px;
    height: 40px;
    font-family: 'Open Sans' sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.welcome-navigation-item-active{
    background-color: #FF731D;
}

.submit-button-error{
    width:100%;
    margin-top:.25rem;
    font-size:.875em;
    color:#dc3545;
    padding-left: 10px;
}

.navBarText{
    font-family: 'Open Sans' sans-serif;
}

.navBarText2{	
    font-family: 'Open Sans' sans-serif;	
    margin-left: 2.7723em;	
}

.profile-page-text{	
    font-family: 'Open Sans' sans-serif;	
    margin-left: 2.7723em;	
    color: #0b22ec;
}

.profile-page-text-two {
    font-family: 'Open Sans' sans-serif;
    margin-left: 2.7723em;
    color: #0b22ec;
    font-style: italic;
    font-weight: bold;
  }

.profile-page-image{
    width: fit-content;
    align-content: center;
    padding-right: 2px;
}

.login-button-error{
    width:100%;
    margin-top:.25rem;
    font-size:.875em;
    color:#dc3545;
    padding-left: 40px;
    text-align: left;
}

.ls-prev-list-3 {
    width: 510px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.ls-prev-list-4 {
    width: 720px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.ls-box-layout-3 {
    text-align: left;
    width: 510px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    color: #FFF7E9;
}

.ls-box-layout-4 {
    text-align: left;
    width: 720px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    color: #FFF7E9;
}

.ls-box-header-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
}

.ls-box-label {
    color: #1746A2;
    font-family: 'Open Sans' sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-left: 14px;
}


.ls-box-lb-option {
    color: #1746A2;
    font-family: 'Open Sans' sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.ls-box-lb-option-large {
    color: #1746A2;
    font-family: 'Open Sans' sans-serif;
    font-size: 42px;
    font-weight: bold;
}
.home-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FFF7E9;
}
.ls-box-create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FFF7E9;
}
.ls-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FFF7E9;
}
.ls-box-title {
    color: #1746A2;
    font-family: 'Open Sans' sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
}

.contact-title {
    color: #FF731D;
    font-family: 'Open Sans' sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.contact-title2 {
    color: #1746A2;
    font-family: 'Open Sans' sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.contact-text2{
    color: #1746A2;
    font-family: 'Open Sans' sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.contact-text3{
    color: #1746A2;
    font-family: 'Open Sans' sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}



.box-contact{
    border: 2px solid #1746A2;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
  }
.ls-box-text {
    color: #1746A2;
    font-family: 'Open Sans' sans-serif;
    font-size: 15px;
    max-width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    text-align: left;

}

.ls-box-button {
    height: 26px;
    align-items: center;
    background-color: #FF731D;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #FFF7E9;
    cursor: pointer;
    font-family: 'Open Sans' sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    touch-action: manipulation;
}

.name-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #FFF7E9;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: #1746A2;
}

.details-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 200%;
    padding: 20px;
    background-color: #FFF7E9;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    color: #1746A2;
    outline: none;

}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 200%;
    padding: 20px;
    background-color: #FFF7E9;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    color: #1746A2;
    outline: none;

}

.contact-box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 300px;
    padding: 20px;
    background-color: #FFF7E9;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    color: #1746A2;
    outline: none;

}

.details-box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 40%;
    padding:8px;
    background-color: #FFF7E9;
    border-radius: 10px;
    box-shadow: inset 0 0 32px -20px rgba(0, 0, 0, 0.6);
    color: #1746A2;
    outline: none;
}

.title-box-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 40%;
    padding:8px;
    background-color: #FFF7E9;
    border-radius: 10px;
    box-shadow: inset 0 0 32px -20px rgba(0, 0, 0, 0.6);
    color: #1746A2;
    outline: none;
}

.title-box-post:empty::before {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 8px;
    background-color: transparent;
    color: #1746A2;
    outline: none;
    content: attr(data-placeholder);
}

.home {
    max-width: 100%;
    align-content: center;
    margin: 0 auto;
}

.learning-space-layout {
    width: fit-content;
    align-content: center;
    margin: 0 auto;
}

.profilepage-layout {
    width: fit-content;
    align-content: center;
    margin: 0 auto;
}

.profilepage{
    display: flex;
    color: #FFF7E9;
    min-height: calc(100vh - 190px);
}

.profilepage-friends-box{
    background-color: #FF731D;
    width: 100%;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 8px 0px rgba(120,120,120,0.52);
    color:#FFF7E9;
    text-align: left;
    padding: 16px;
    padding-left: 28px;
    padding-right: 28px;
    max-height: 400px;
}
.contact-page-layout {
    width: fit-content;
    align-content: center;
    margin: 0 auto;
}

.about-page-layout {
    width: 98%;
    align-content: center;
    margin: 0 auto;
}


.ls-box3 {
    background-color: #1746A2;
    width: 100%;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 8px 0px rgba(120,120,120,0.52);
    color:#FFF7E9;
    text-align: left;
    padding: 16px;
    padding-left: 28px;
    padding-right: 28px;
    max-height: 400px;
}

.learning-space-left {
    margin-left: 1em;
    margin-right: 1em;
    align-content: left;
    width: 20%;
    background-color: #FFF7E9;
  }

.contact-page-left {
    margin-left: 1em;
    margin-right: 1em;
    align-content: left;
    width: 25%;
    background-color: #FFF7E9;
  }


  .about-page-left {
    margin-left: 1em;
    margin-right: 1em;
    align-content: left;
    width: 70%;
    background-color: #FFF7E9;
  }

  .about-page-right {
    margin-left: 1em;
    margin-right: 1em;
    align-content: left;
    width: 30%;
    background-color: #FFF7E9;
  }
  
  .learning-space-middle {
    margin-left: 1em;
    margin-right: 1em;
    align-content: center;
    width: 60%;
    background-color: #FFF7E9;
  }

  .contact-page-middle {
    margin-left: 1em;
    margin-right: 1em;
    align-content: center;
    width: 50%;
    background-color: #FFF7E9;
  }


  .learning-space-right{
    margin-left: 1em;
    margin-right: 1em;
    align-content: right;
    width: 20%;
    background-color: #FFF7E9;
  }

  .profile-page-left {
    margin-left: 1em;
    margin-right: 1em;
    align-content: left;
    width: 20%;
    background-color: #FFF7E9;
  }

  .profile-page-middle {
    margin-left: 1em;
    margin-right: 1em;
    align-content: center;
    width: 60%;
    background-color: #FFF7E9;
  }

  .profile-page-right{
    margin-left: 1em;
    margin-right: 1em;
    align-content: right;
    width: 20%;
    background-color: #FFF7E9;
  }

  .contact-page-right{
    margin-left: 1em;
    margin-right: 1em;
    align-content: right;
    width: 25%;
    background-color: #FFF7E9;
  }

.learning-space {
    display: flex;
    color: #FFF7E9;
    min-height: calc(100vh - 190px);
}

.contact-page {
    display: flex;
    color: #FFF7E9;
    min-height: calc(100vh - 190px);
}


.left-aligned-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.ls-content {
    min-height: calc(100vh - 190px);
}

.home-content {
    min-height: calc(100vh - 190px);
}

.home-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 36px;
    align-items: stretch;
}

.home-upper-left {
    display: flex;
    flex-direction: column;
}

.home-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feed-box {
    background-color: #1746A2;
    width: 36%;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 8px 0px rgba(120,120,120,0.52);
    color:#FFF7E9;
    text-align: left;
    padding: 16px;
    padding-left: 28px;
    padding-right: 28px;
    max-height: 308px;
    mask-border: linear-gradient(to top, rgba(0, 40, 220, 0.855) 0%, rgb(0, 0, 0) 8%);
}

.ls-box {
    background-color: #1746A2;
    width: 100%;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 8px 0px rgba(120,120,120,0.52);
    color:#FFF7E9;
    text-align: left;
    padding: 16px;
    padding-left: 28px;
    padding-right: 28px;
    max-height: 400px;
    mask-border: linear-gradient(to top, rgba(0, 40, 220, 0.855) 0%, rgb(0, 0, 0) 8%);
}

.ls-box-org {
    background-color: #FF731D;
    width: 100%;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 8px 0px rgba(120,120,120,0.52);
    color:#FFF7E9;
    text-align: left;
    padding: 16px;
    padding-left: 28px;
    padding-right: 28px;
}

.ls-box-mid{
    background-color: #f8f6f4;
    width: 97%;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 6px;
    box-shadow: 0px 12px 16px -12px rgba(26,26,26,1);
    color:#4a07f5;
    text-align: left;
    padding: 16px;
    padding-left: 28px;
    padding-right: 28px;
}
.profile-page-ls-box {
    width: 97%;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 6px;
    box-shadow: 0px 12px 16px -12px rgba(26,26,26,1);
    color:#4a07f5;
    text-align: left;
    padding: 16px;
    padding-left: 28px;
    padding-right: 28px;
    overflow: scroll;
    max-height: 500px;
    border: 5px solid #FF731D;
    background-image: linear-gradient(transparent, #f8f6f4 1px),
                       linear-gradient(90deg, transparent, #FF731D 1px);
    background-size: 100% 11px;
    background-position: 0 0, 0 10px;
  }

  .profile-page-ls-box-drawer {
  width: 70%;
  border-radius: 50px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 95px;
  box-shadow: 0px 12px 16px -12px rgba(26,26,26,1);
  color:#4a07f5;
  text-align: center;
  padding: 16px;
  padding-left: 0px;
  padding-right: 0px;
  max-height: 100px;
  border: 5px solid #FF731D;
  background-image: linear-gradient(transparent, #f8f6f4 1px),
                       linear-gradient(90deg, transparent, #FF731D 1px);
  background-color: #f8f6f4;
  align-items: center;
  align-self: center;
}
.map-box{
    background-color: #f8f6f4;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 6px;
    box-shadow: 0px 12px 16px -12px rgba(26,26,26,1);
    color:#4a07f5;
    text-align: left;
    padding: 16px;
    padding-left: 28px;
    padding-right: 28px;
}
 

.add-post-box-mid{	
    background-color: white;	
    width: 97%;	
    border-radius: 20px;	
    margin-top: 5px;	
    margin-bottom: 20px;
    margin-left: 6px;
    box-shadow: 0px 12px 16px -12px rgba(26,26,26,1);
    color:#4a07f5;	
    text-align: left;	
    padding: 16px;	
    padding-left: 28px;	
    padding-right: 28px;		
}

.ls-button-container {
    margin-right: 1.5em;
}

.ls-button-container2 {	
    margin-right: 0.5em;	
}

.ls-button-container-alt {
   margin-left: 24em;
}

.ls-button-container-comment {
    margin-top: 8px;
    margin-left: 22em;
    padding-top: 30px;
 }

.ls-button-container-alt2 {	
    margin-left: 1.5em;	
 }	
.ls-button-container-alt3 {	
    margin-right: 0.5em
}	
.ls-button-container-alt4 {	
    margin-left: 43em;	
}

.ls-mid-entries{
    max-height: 860px;
    overflow-y: scroll;
}

.ls-buttons {
    padding-left: 2px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.ls-button{	
    border: none;	
    color: #f8f6f4;	
}

.feed-title {
    font-family: 'Open Sans' sans-serif;
    font-size: 36px;
    font-weight: bold;    
}

.comment-section-header {
    display: grid;
    grid-template-columns: 4% 38% 58%;
    justify-content: space-between;
    padding-right: 36px;
    align-items: flex-start;
}

.comment-title {
    font-family: 'Open Sans' sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 24px;
}

.comment-indicator {
    font-family: 'Open Sans' sans-serif;
    font-size: 50px;
    font-weight: 250;
    padding-left: 20px;
}

.feed-list-box {
    width: 100%;
    height: 80%;
    overflow: scroll;
}
.ls-create-btn {
    width: 100%;
    height: 40px;
    background-color: #1746A2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #FFF7E9;
    cursor: pointer;
    font-family: 'Open Sans' sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    touch-action: manipulation;
}

.categories-banner {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 30px;
}

.categories-heading {
    text-align: left;
    padding-left: 70px;
    padding-top: 70px;
    font-size: 36px;
    font-weight: 700;
    color: #FF731D;
}

.categories-phrase {
    text-align: left;
    padding-left: 70px;
    padding-top: 40px;
    font-size: 26px;
    font-weight: 500;
    color: #1746A2;
}

.categories-page-content {
    min-height: calc(100vh - 190px);
}

.lsbycategorypage-wrapper {
    display: flex;
    flex-direction: row;
    padding-right: 36px;
}

.lsbycategorypage-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 190px);
}

.counter__output {	
    font-size: 20px;	
    color: #000000;	
}

.lsprev-container {
    padding-left: 10px;
    padding-right: 10px;
}

.mylspage-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 190px);
}

.mylspage-wrapper {
    display: flex;
    flex-direction: row;
    padding-right: 36px;
}

.mylspage-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    width: max-content;
    color: black;
    font-family: 'Open Sans' sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 5px;
}

.mylspage-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    width: max-content;
    background-color: #1746A2;
    color: #FFF7E9;
    font-family: 'Open Sans' sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 5px;
}

.mylspage-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #FFF7E9;
}

.popularlspage-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 190px);
}

.popularlspage-wrapper {
    display: flex;
    flex-direction: row;
    padding-right: 36px;
}

.popularlspage-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    width: max-content;
    color: black;
    font-family: 'Open Sans' sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 5px;
}

.popularlspage-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #FFF7E9;
}

.recommendedlspage-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 190px);
}

.recommendedlspage-wrapper {
    display: flex;
    flex-direction: row;
    padding-right: 36px;
}

.recommendedlspage-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    width: max-content;
    color: black;
    font-family: 'Open Sans' sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 5px;
}

.recommendedlspage-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #FFF7E9;
}